@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    /*background: #2c3e50;*/
    justify-content: center;
    align-self: center;
    /*background: url("../resources/homepage/bg.jpg") 0 0 no-repeat;*/
}